.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f3f4f6;
}

.login-card {
  width: 100%;
  max-width: 400px;
  padding: 30px;
}

